table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr{
  border: 1px solid #0f8c8c;
}

th {
    background-color: #0f8c8c;
    color: #fdb913;
}